# Dependencies
node_modules/
package-lock.json

# Firebase
.firebase/
.firebaserc

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
~*
